.bulk-import-contain {

    > div {
        margin: auto;
    }

    .content {
        cursor: pointer;
        
        i.fa {
            font-size: 4em;
        }
    }
}

.numberOfText {
  font-size: 1em * .75;
}